/* src/App.css or src/index.css */
@font-face {
  font-family: 'Arcade'; /* Choose a name for your font */
  src: url('./fonts/KarmaticArcade-6Yrp1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
